In [2]:
import pandas as pd
import gc
import glob
import os

In [ ]:
for col in dfz2.columns:
    if col == 'time':
        dfz2[col] = dfz2[col].astype('datetime64')
    if dfz2[col].dtype == 'object':
        dfz2[col] = dfz2[col].astype('category')

In [4]:
all_files = glob.glob("*.csv")
grouped_files = []

for filename in all_files:
    chunk = pd.read_csv(filename, index_col=None, header=0)
    for col in chunk.columns:
        if col == 'time':
            chunk[col] = chunk[col].astype('datetime64')
        if chunk[col].dtype == 'object':
            chunk[col] = chunk[col].astype('category')
    gc.collect()
    grouped_files.append(chunk)

    df = pd.concat(grouped_files, axis=0, ignore_index=True)

In [5]:
df.head()

,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,y,s,a,dis,o,dir,event
0,2021090900,97,25511.0,1,2021-09-10 00:26:31.100,12.0,TB,right,37.77,24.22,0.29,0.30,0.03,165.16,84.99,None
1,2021090900,97,25511.0,2,2021-09-10 00:26:31.200,12.0,TB,right,37.78,24.22,0.23,0.11,0.02,164.33,92.87,None
2,2021090900,97,25511.0,3,2021-09-10 00:26:31.300,12.0,TB,right,37.78,24.24,0.16,0.10,0.01,160.24,68.55,None
3,2021090900,97,25511.0,4,2021-09-10 00:26:31.400,12.0,TB,right,37.73,24.25,0.15,0.24,0.06,152.13,296.85,None
4,2021090900,97,25511.0,5,2021-09-10 00:26:31.500,12.0,TB,right,37.69,24.26,0.25,0.18,0.04,148.33,287.55,None

In [6]:
df.shape

(8314178, 16)

In [7]:
df.dtypes

gameId                    int64
playId                    int64
nflId                   float64
frameId                   int64
time             datetime64[ns]
jerseyNumber            float64
team                     object
playDirection          category
x                       float64
y                       float64
s                       float64
a                       float64
dis                     float64
o                       float64
dir                     float64
event                    object
dtype: object

In [8]:
for col in df.columns:
    
    print(f'{col}-{df[col].nunique()}')

gameId-122
playId-3762
nflId-1679
frameId-203
time-339484
jerseyNumber-99
team-33
playDirection-2
x-12069
y-5741
s-2734
a-2209
dis-667
o-36001
dir-36001
event-27

In [11]:
df.memory_usage(deep =True)

Index                  128
gameId            66513424
playId            66513424
nflId             66513424
frameId           66513424
time              66513424
jerseyNumber      66513424
team             498652359
playDirection      8314409
x                 66513424
y                 66513424
s                 66513424
a                 66513424
dis               66513424
o                 66513424
dir               66513424
event            512843995
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8314178 entries, 0 to 8314177
Data columns (total 16 columns):
 #   Column         Dtype
---  ------         -----
 0   gameId         int64
 1   playId         int64
 2   nflId          float64
 3   frameId        int64
 4   time           datetime64[ns]
 5   jerseyNumber   float64
 6   team           object
 7   playDirection  category
 8   x              float64
 9   y              float64
 10  s              float64
 11  a              float64
 12  dis            float64
 13  o              float64
 14  dir            float64
 15  event          object
dtypes: category(1), datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 959.4+ MB

In [13]:
df.to_feather("optimised_amex.feather")

In [14]:
df.to_csv("optimised_amex.csv")