In [1]:
import pandas as pd
import numpy as np
import gc

In [ ]:
import pandas as pd

# Load the data into a Pandas DataFrame
df = pd.read_csv("data.csv")

# Check for missing values
df.isnull().sum()

# Drop rows with missing values
df.dropna(inplace=True)

# Fill missing values with a default value
df.fillna(0, inplace=True)

# Replace missing values with the mean or median of the column
mean_value = df["column_name"].mean()
df["column_name"].fillna(mean_value, inplace=True)

median_value = df["column_name"].median()
df["column_name"].fillna(median_value, inplace=True)

# Check for duplicates
df.duplicated().sum()

# Drop duplicates
df.drop_duplicates(inplace=True)

# Check for outliers
q1, q3 = df["column_name"].quantile([0.25, 0.75])
iqr = q3 - q1
outliers = df[(df["column_name"] < q1 - 1.5 * iqr) | (df["column_name"] > q3 + 1.5 * iqr)]

# Drop outliers
df = df[~df.isin(outliers)].dropna()

# Check for incorrect data types
df.dtypes

# Convert data types
df["column_name"] = df["column_name"].astype("int")

# Rename columns
df.rename(columns={"old_name": "new_name"}, inplace=True)

# Save the cleaned data to a new file
df.to_csv("cleaned_data.csv", index=False)

In [2]:
df = pd.read_feather("optimized_alldata.feather")
df.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,playId,nflId,pff_role,...,team,playDirection,x,y,s,a,dis,o,dir,event
0,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,TB,right,37.77,24.22,0.29,0.30,0.03,165.16,84.99,None
1,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,TB,right,37.78,24.22,0.23,0.11,0.02,164.33,92.87,None
2,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,TB,right,37.78,24.24,0.16,0.10,0.01,160.24,68.55,None
3,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,TB,right,37.73,24.25,0.15,0.24,0.06,152.13,296.85,None
4,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,TB,right,37.69,24.26,0.25,0.18,0.04,148.33,287.55,None

In [4]:
df.shape

(7952692, 70)

In [3]:
df.isnull().sum()

gameId             0
season             0
week               0
gameDate           0
gameTimeEastern    0
                  ..
a                  0
dis                0
o                  0
dir                0
event              0
Length: 70, dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.shape

(0, 70)