In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('week1.csv')
df.head()

,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,y,s,a,dis,o,dir,event
0,2021090900,97,25511.0,1,2021-09-10T00:26:31.100,12.0,TB,right,37.77,24.22,0.29,0.30,0.03,165.16,84.99,None
1,2021090900,97,25511.0,2,2021-09-10T00:26:31.200,12.0,TB,right,37.78,24.22,0.23,0.11,0.02,164.33,92.87,None
2,2021090900,97,25511.0,3,2021-09-10T00:26:31.300,12.0,TB,right,37.78,24.24,0.16,0.10,0.01,160.24,68.55,None
3,2021090900,97,25511.0,4,2021-09-10T00:26:31.400,12.0,TB,right,37.73,24.25,0.15,0.24,0.06,152.13,296.85,None
4,2021090900,97,25511.0,5,2021-09-10T00:26:31.500,12.0,TB,right,37.69,24.26,0.25,0.18,0.04,148.33,287.55,None

In [3]:
dfx = df.copy()

In [4]:
dfx.dropna(inplace = True)

In [5]:
dfx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1069508 entries, 0 to 1118087
Data columns (total 16 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   gameId         1069508 non-null  int64
 1   playId         1069508 non-null  int64
 2   nflId          1069508 non-null  float64
 3   frameId        1069508 non-null  int64
 4   time           1069508 non-null  object
 5   jerseyNumber   1069508 non-null  float64
 6   team           1069508 non-null  object
 7   playDirection  1069508 non-null  object
 8   x              1069508 non-null  float64
 9   y              1069508 non-null  float64
 10  s              1069508 non-null  float64
 11  a              1069508 non-null  float64
 12  dis            1069508 non-null  float64
 13  o              1069508 non-null  float64
 14  dir            1069508 non-null  float64
 15  event          1069508 non-null  object
dtypes: float64(9), int64(3), object(4)
memory usage: 138.7+ MB

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118122 entries, 0 to 1118121
Data columns (total 16 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   gameId         1118122 non-null  int64
 1   playId         1118122 non-null  int64
 2   nflId          1069508 non-null  float64
 3   frameId        1118122 non-null  int64
 4   time           1118122 non-null  object
 5   jerseyNumber   1069508 non-null  float64
 6   team           1118122 non-null  object
 7   playDirection  1118122 non-null  object
 8   x              1118122 non-null  float64
 9   y              1118122 non-null  float64
 10  s              1118122 non-null  float64
 11  a              1118122 non-null  float64
 12  dis            1118122 non-null  float64
 13  o              1069508 non-null  float64
 14  dir            1069508 non-null  float64
 15  event          1118122 non-null  object
dtypes: float64(9), int64(3), object(4)
memory usage: 136.5+ MB

In [58]:
df.memory_usage(deep=True)

Index                 128
gameId            8944976
playId            8944976
nflId             8944976
frameId           8944976
time             89449760
jerseyNumber      8944976
team             67071637
playDirection    68773473
x                 8944976
y                 8944976
s                 8944976
a                 8944976
dis               8944976
o                 8944976
dir               8944976
event            69018975
dtype: int64

In [12]:
df.dtypes

gameId             int64
playId             int64
nflId            float64
frameId            int64
time              object
jerseyNumber     float64
team              object
playDirection     object
x                float64
y                float64
s                float64
a                float64
dis              float64
o                float64
dir              float64
event             object
dtype: object

In [13]:
df.describe()

,gameId,playId,nflId,frameId,jerseyNumber,x,y,s,a,dis,o,dir
count,1.118122e+06,1.118122e+06,1.069508e+06,1.118122e+06,1.069508e+06,1.118122e+06,1.118122e+06,1.118122e+06,1.118122e+06,1.118122e+06,1.069508e+06,1.069508e+06
mean,2.021091e+09,2.187560e+03,4.546032e+04,2.300878e+01,4.946294e+01,5.995228e+01,2.684172e+01,2.574296e+00,1.794618e+00,2.608325e-01,1.796703e+02,1.808125e+02
std,9.053527e+01,1.243918e+03,4.938338e+03,1.612365e+01,3.002461e+01,2.422567e+01,8.385432e+00,2.403110e+00,1.458681e+00,2.579968e-01,9.926149e+01,1.011737e+02
min,2.021091e+09,5.500000e+01,2.551100e+04,1.000000e+00,1.000000e+00,2.500000e-01,-2.610000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.021091e+09,1.166000e+03,4.240400e+04,1.100000e+01,2.200000e+01,4.080000e+01,2.203000e+01,7.300000e-01,7.000000e-01,7.000000e-02,8.938000e+01,9.103000e+01
50%,2.021091e+09,2.145000e+03,4.499900e+04,2.100000e+01,5.200000e+01,6.013000e+01,2.685000e+01,2.130000e+00,1.540000e+00,2.100000e-01,1.789950e+02,1.798700e+02
75%,2.021091e+09,3.195000e+03,4.791700e+04,3.200000e+01,7.500000e+01,7.887000e+01,3.171000e+01,3.800000e+00,2.590000e+00,3.800000e-01,2.694300e+02,2.709200e+02
max,2.021091e+09,4.849000e+03,5.395700e+04,1.770000e+02,9.900000e+01,1.197200e+02,5.701000e+01,2.830000e+01,5.069000e+01,8.460000e+00,3.600000e+02,3.600000e+02

In [19]:
for col in df.columns:
    
    print(f'{col}-{df[col].nunique()}')

gameId-16
playId-1021
nflId-1162
frameId-177
time-45406
jerseyNumber-99
team-33
playDirection-2
x-11708
y-5386
s-2178
a-1659
dis-563
o-36001
dir-36001
event-23

In [20]:
df['event'].unique()

array(['None', 'ball_snap', 'autoevent_passforward', 'pass_forward',
       'autoevent_ballsnap', 'line_set', 'play_action', 'pass_arrived',
       'autoevent_passinterrupted', 'fumble', 'fumble_offense_recovered',
       'qb_sack', 'run', 'man_in_motion', 'pass_outcome_caught',
       'pass_outcome_incomplete', 'pass_tipped', 'qb_strip_sack', 'shift',
       'first_contact', 'huddle_break_offense', 'lateral', 'handoff'],
      dtype=object)

In [22]:
for col in df.columns:
    
    print(f'{col}-{df[col].value_counts()}')

gameId-2021090900    92644
2021091300    92299
2021091204    82271
2021091201    76406
2021091205    75739
2021091212    72266
2021091203    71116
2021091200    69299
2021091202    68172
2021091209    65274
2021091208    64653
2021091206    63917
2021091207    63848
2021091213    57799
2021091210    54096
2021091211    48323
Name: gameId, dtype: int64
playId-2063    4991
3406    4968
2129    4669
1938    3312
620     3289
        ...
2203     575
3610     575
2426     506
1744     483
3606     483
Name: playId, Length: 1021, dtype: int64
nflId-53436.0    2700
52483.0    2700
48455.0    2700
46089.0    2700
43453.0    2700
           ...
42436.0      31
52427.0      31
52569.0      30
53522.0      29
44937.0      27
Name: nflId, Length: 1162, dtype: int64
frameId-1      27025
2      27025
21     27025
20     27025
19     27025
       ...
154       23
156       23
157       23
158       23
177       23
Name: frameId, Length: 177, dtype: int64
time-2021-09-12T18:04:04.900    69
2021-09-12T19:59:55.500    69
2021-09-12T19:59:55.300    69
2021-09-12T19:59:55.200    69
2021-09-12T22:46:40.400    69
                           ..
2021-09-14T03:54:21.000    23
2021-09-13T02:55:24.500    22
2021-09-13T02:55:24.600    22
2021-09-13T02:55:14.100     1
2021-09-13T02:55:14.200     1
Name: time, Length: 45406, dtype: int64
jerseyNumber-23.0    27032
21.0    21718
11.0    21176
90.0    20588
24.0    20328
        ...
82.0     3841
40.0     2940
47.0     2686
48.0     2257
46.0       58
Name: jerseyNumber, Length: 99, dtype: int64
team-football    48614
TB          44308
DAL         44308
BAL         44143
LV          44143
SF          39347
DET         39347
PIT         36542
BUF         36542
HOU         36223
JAX         36223
NYG         34562
DEN         34562
MIN         34012
CIN         34012
ATL         33143
PHI         33143
NYJ         32604
CAR         32604
CLE         31218
KC          31218
LAC         30921
WAS         30921
SEA         30569
IND         30569
ARI         30536
TEN         30536
CHI         27643
LA          27643
MIA         25872
NE          25872
NO          23111
GB          23111
Name: team, dtype: int64
playDirection-right    568031
left     550091
Name: playDirection, dtype: int64
x-66.62     203
86.45     203
66.16     200
86.55     200
64.38     200
         ...
1.66        1
1.96        1
2.85        1
2.83        1
118.40      1
Name: x, Length: 11708, dtype: int64
y- 23.74    1085
 23.75    1062
 23.80    1058
 23.90    1049
 29.90    1039
          ...
 0.53        1
 0.63        1
 0.67        1
 53.84       1
-2.39        1
Name: y, Length: 5386, dtype: int64
s-0.00     71193
0.01     18089
0.02     10548
0.03      7660
0.04      6304
         ...
15.53        1
12.20        1
18.55        1
18.74        1
16.77        1
Name: s, Length: 2178, dtype: int64
a-0.00     66378
0.01     14490
0.02      8486
0.03      6263
0.04      5177
         ...
18.22        1
12.58        1
25.88        1
28.77        1
15.59        1
Name: a, Length: 1659, dtype: int64
dis-0.00    70153
0.01    62703
0.02    35547
0.03    27544
0.04    23568
        ...
5.05        1
5.16        1
5.37        1
6.24        1
5.24        1
Name: dis, Length: 563, dtype: int64
o-90.00     1988
93.34      112
82.82      106
81.35      104
84.84      103
          ...
179.77       5
182.88       5
20.32        4
181.29       3
21.21        2
Name: o, Length: 36001, dtype: int64
dir-98.01     75
277.67    74
89.00     73
266.29    72
93.55     71
          ..
209.64     8
200.42     7
226.39     7
203.68     7
27.90      5
Name: dir, Length: 36001, dtype: int64
event-None                         1028537
ball_snap                      26956
pass_forward                   24127
autoevent_ballsnap             13455
autoevent_passforward          12627
play_action                     5382
qb_sack                         1334
run                             1219
pass_arrived                    1150
autoevent_passinterrupted        690
man_in_motion                    598
line_set                         552
shift                            437
pass_tipped                      299
first_contact                    230
qb_strip_sack                    184
pass_outcome_incomplete          138
pass_outcome_caught               69
fumble                            46
fumble_offense_recovered          23
huddle_break_offense              23
lateral                           23
handoff                           23
Name: event, dtype: int64

In [23]:
dfopti = df.copy()

In [24]:
dfopti.dtypes

gameId             int64
playId             int64
nflId            float64
frameId            int64
time              object
jerseyNumber     float64
team              object
playDirection     object
x                float64
y                float64
s                float64
a                float64
dis              float64
o                float64
dir              float64
event             object
dtype: object

In [25]:
dfopti['time'] = dfopti['time'].astype('datetime64')

In [26]:
dfopti.dtypes

gameId                    int64
playId                    int64
nflId                   float64
frameId                   int64
time             datetime64[ns]
jerseyNumber            float64
team                     object
playDirection            object
x                       float64
y                       float64
s                       float64
a                       float64
dis                     float64
o                       float64
dir                     float64
event                    object
dtype: object

In [27]:
for col in dfopti.columns:
        if dfopti[col].dtype == 'object':
            dfopti[col] = dfopti[col].astype('category')

In [28]:
dfopti.dtypes

gameId                    int64
playId                    int64
nflId                   float64
frameId                   int64
time             datetime64[ns]
jerseyNumber            float64
team                   category
playDirection          category
x                       float64
y                       float64
s                       float64
a                       float64
dis                     float64
o                       float64
dir                     float64
event                  category
dtype: object

In [29]:
dfopti.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118122 entries, 0 to 1118121
Data columns (total 16 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   gameId         1118122 non-null  int64
 1   playId         1118122 non-null  int64
 2   nflId          1069508 non-null  float64
 3   frameId        1118122 non-null  int64
 4   time           1118122 non-null  datetime64[ns]
 5   jerseyNumber   1069508 non-null  float64
 6   team           1118122 non-null  category
 7   playDirection  1118122 non-null  category
 8   x              1118122 non-null  float64
 9   y              1118122 non-null  float64
 10  s              1118122 non-null  float64
 11  a              1118122 non-null  float64
 12  dis            1118122 non-null  float64
 13  o              1069508 non-null  float64
 14  dir            1069508 non-null  float64
 15  event          1118122 non-null  category
dtypes: category(3), datetime64[ns](1), float64(9), int64(3)
memory usage: 114.1 MB

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118122 entries, 0 to 1118121
Data columns (total 16 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   gameId         1118122 non-null  int64
 1   playId         1118122 non-null  int64
 2   nflId          1069508 non-null  float64
 3   frameId        1118122 non-null  int64
 4   time           1118122 non-null  object
 5   jerseyNumber   1069508 non-null  float64
 6   team           1118122 non-null  object
 7   playDirection  1118122 non-null  object
 8   x              1118122 non-null  float64
 9   y              1118122 non-null  float64
 10  s              1118122 non-null  float64
 11  a              1118122 non-null  float64
 12  dis            1118122 non-null  float64
 13  o              1069508 non-null  float64
 14  dir            1069508 non-null  float64
 15  event          1118122 non-null  object
dtypes: float64(9), int64(3), object(4)
memory usage: 136.5+ MB

In [31]:
dfdty = df.copy()

In [35]:
dfdty.dtypes

gameId             int64
playId             int64
nflId            float64
frameId            int64
time              object
jerseyNumber     float64
team              object
playDirection     object
x                float64
y                float64
s                float64
a                float64
dis              float64
o                float64
dir              float64
event             object
dtype: object

In [42]:
dfz = df.copy()

In [49]:
for col in dfz.columns:
    
    if col == 'time':
        dfz[col] = dfz[col].astype('datetime64')
    if dfz[col].dtype == 'object':
        dfz[col] = dfz[col].astype('category')

In [52]:
dfz1 = df.copy()

In [53]:
for col in dfz1.columns:
    if col == 'time':
        dfz1[col] = dfz1[col].astype('datetime64')
    if dfz1[col].dtype == 'object':
        dfz1[col] = dfz1[col].astype('category')

In [55]:
dfz2 = df.copy()

In [56]:
for col in dfz2.columns:
    if col == 'time':
        dfz2[col] = dfz2[col].astype('datetime64')
    if dfz2[col].dtype == 'object':
        dfz2[col] = dfz2[col].astype('category')

In [57]:
dfz2.dtypes

gameId                    int64
playId                    int64
nflId                   float64
frameId                   int64
time             datetime64[ns]
jerseyNumber            float64
team                   category
playDirection          category
x                       float64
y                       float64
s                       float64
a                       float64
dis                     float64
o                       float64
dir                     float64
event                  category
dtype: object

In [51]:
for col in dfz.columns:
    print(col)

gameId
playId
nflId
frameId
time
jerseyNumber
team
playDirection
x
y
s
a
dis
o
dir
event

In [50]:
dfz.dtypes

gameId              int64
playId              int64
nflId             float64
frameId             int64
time             category
jerseyNumber      float64
team             category
playDirection    category
x                 float64
y                 float64
s                 float64
a                 float64
dis               float64
o                 float64
dir               float64
event            category
dtype: object

In [40]:
dfdty.dtypes

gameId              int64
playId              int64
nflId             float64
frameId             int64
time             category
jerseyNumber      float64
team             category
playDirection    category
x                 float64
y                 float64
s                 float64
a                 float64
dis               float64
o                 float64
dir               float64
event            category
dtype: object

In [33]:
dfttt = dfopti.copy()

In [34]:
dfttt = dfttt.apply(pd.to_numeric)

ValueError: Unable to parse string "TB" at position 0