In [1]:
import pandas as pd
import numpy as np
import gc

In [2]:
dfgames = pd.read_csv('games.csv')
dfgames.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr
0,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL
1,2021091200,2021,1,09/12/2021,13:00:00,ATL,PHI
2,2021091201,2021,1,09/12/2021,13:00:00,BUF,PIT
3,2021091202,2021,1,09/12/2021,13:00:00,CAR,NYJ
4,2021091203,2021,1,09/12/2021,13:00:00,CIN,MIN

In [3]:
dfgames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gameId           122 non-null    int64
 1   season           122 non-null    int64
 2   week             122 non-null    int64
 3   gameDate         122 non-null    object
 4   gameTimeEastern  122 non-null    object
 5   homeTeamAbbr     122 non-null    object
 6   visitorTeamAbbr  122 non-null    object
dtypes: int64(3), object(4)
memory usage: 6.8+ KB

In [4]:
for col in dfgames.columns:
    if dfgames[col].dtype == 'int64':
        dfgames[col] = dfgames[col].astype('int32')
    gc.collect()

In [5]:
dfgames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gameId           122 non-null    int32
 1   season           122 non-null    int32
 2   week             122 non-null    int32
 3   gameDate         122 non-null    object
 4   gameTimeEastern  122 non-null    object
 5   homeTeamAbbr     122 non-null    object
 6   visitorTeamAbbr  122 non-null    object
dtypes: int32(3), object(4)
memory usage: 5.4+ KB

In [6]:
dfpffscout = pd.read_csv('pffScoutingData.csv')
dfpffscout.head()

,gameId,playId,nflId,pff_role,pff_positionLinedUp,pff_hit,pff_hurry,pff_sack,pff_beatenByDefender,pff_hitAllowed,pff_hurryAllowed,pff_sackAllowed,pff_nflIdBlockedPlayer,pff_blockType,pff_backFieldBlock
0,2021090900,97,25511,Pass,QB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021090900,97,35481,Pass Route,TE-L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021090900,97,35634,Pass Route,LWR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021090900,97,39985,Pass Route,HB-R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021090900,97,40151,Pass Block,C,NaN,NaN,NaN,0.0,0.0,0.0,0.0,44955.0,SW,0.0

In [7]:
dfpffscout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188254 entries, 0 to 188253
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   gameId                  188254 non-null  int64
 1   playId                  188254 non-null  int64
 2   nflId                   188254 non-null  int64
 3   pff_role                188254 non-null  object
 4   pff_positionLinedUp     188254 non-null  object
 5   pff_hit                 94127 non-null   float64
 6   pff_hurry               94127 non-null   float64
 7   pff_sack                94127 non-null   float64
 8   pff_beatenByDefender    48087 non-null   float64
 9   pff_hitAllowed          48087 non-null   float64
 10  pff_hurryAllowed        48087 non-null   float64
 11  pff_sackAllowed         48087 non-null   float64
 12  pff_nflIdBlockedPlayer  46526 non-null   float64
 13  pff_blockType           47904 non-null   object
 14  pff_backFieldBlock      47903 non-null   float64
dtypes: float64(9), int64(3), object(3)
memory usage: 21.5+ MB

In [8]:
for col in dfpffscout.columns:
    if dfpffscout[col].dtype == 'int64':
        dfpffscout[col] = dfpffscout[col].astype('int32')
    if dfpffscout[col].dtype == 'float64':
        dfpffscout[col] = dfpffscout[col].astype('float32')
    gc.collect()

In [9]:
dfpffscout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188254 entries, 0 to 188253
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   gameId                  188254 non-null  int32
 1   playId                  188254 non-null  int32
 2   nflId                   188254 non-null  int32
 3   pff_role                188254 non-null  object
 4   pff_positionLinedUp     188254 non-null  object
 5   pff_hit                 94127 non-null   float32
 6   pff_hurry               94127 non-null   float32
 7   pff_sack                94127 non-null   float32
 8   pff_beatenByDefender    48087 non-null   float32
 9   pff_hitAllowed          48087 non-null   float32
 10  pff_hurryAllowed        48087 non-null   float32
 11  pff_sackAllowed         48087 non-null   float32
 12  pff_nflIdBlockedPlayer  46526 non-null   float32
 13  pff_blockType           47904 non-null   object
 14  pff_backFieldBlock      47903 non-null   float32
dtypes: float32(9), int32(3), object(3)
memory usage: 12.9+ MB

In [10]:
dfgames_pffscout = dfgames.merge(dfpffscout,on='gameId')
dfgames_pffscout.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,playId,nflId,pff_role,...,pff_hit,pff_hurry,pff_sack,pff_beatenByDefender,pff_hitAllowed,pff_hurryAllowed,pff_sackAllowed,pff_nflIdBlockedPlayer,pff_blockType,pff_backFieldBlock
0,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,35481,Pass Route,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,35634,Pass Route,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,39985,Pass Route,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,40151,Pass Block,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,44955.0,SW,0.0

In [11]:
dfgames_pffscout.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188254 entries, 0 to 188253
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   gameId                  188254 non-null  int32
 1   season                  188254 non-null  int32
 2   week                    188254 non-null  int32
 3   gameDate                188254 non-null  object
 4   gameTimeEastern         188254 non-null  object
 5   homeTeamAbbr            188254 non-null  object
 6   visitorTeamAbbr         188254 non-null  object
 7   playId                  188254 non-null  int32
 8   nflId                   188254 non-null  int32
 9   pff_role                188254 non-null  object
 10  pff_positionLinedUp     188254 non-null  object
 11  pff_hit                 94127 non-null   float32
 12  pff_hurry               94127 non-null   float32
 13  pff_sack                94127 non-null   float32
 14  pff_beatenByDefender    48087 non-null   float32
 15  pff_hitAllowed          48087 non-null   float32
 16  pff_hurryAllowed        48087 non-null   float32
 17  pff_sackAllowed         48087 non-null   float32
 18  pff_nflIdBlockedPlayer  46526 non-null   float32
 19  pff_blockType           47904 non-null   object
 20  pff_backFieldBlock      47903 non-null   float32
dtypes: float32(9), int32(5), object(7)
memory usage: 21.5+ MB

In [12]:
dfplayers = pd.read_csv('players.csv')
dfplayers.head()

,nflId,height,weight,birthDate,collegeName,officialPosition,displayName
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,28963,6-5,240,1982-03-02,"Miami, O.",QB,Ben Roethlisberger
2,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters
3,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers
4,30078,6-2,228,1982-11-24,Harvard,QB,Ryan Fitzpatrick

In [13]:
dfplayers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1679 entries, 0 to 1678
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nflId             1679 non-null   int64
 1   height            1679 non-null   object
 2   weight            1679 non-null   int64
 3   birthDate         1447 non-null   object
 4   collegeName       1455 non-null   object
 5   officialPosition  1679 non-null   object
 6   displayName       1679 non-null   object
dtypes: int64(2), object(5)
memory usage: 91.9+ KB

In [14]:
dfplayers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1679 entries, 0 to 1678
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nflId             1679 non-null   int64
 1   height            1679 non-null   object
 2   weight            1679 non-null   int64
 3   birthDate         1447 non-null   object
 4   collegeName       1455 non-null   object
 5   officialPosition  1679 non-null   object
 6   displayName       1679 non-null   object
dtypes: int64(2), object(5)
memory usage: 91.9+ KB

In [15]:
for col in dfplayers.columns:
    if dfplayers[col].dtype == 'int64':
        dfplayers[col] = dfplayers[col].astype('int32')
    if dfplayers[col].dtype == 'float64':
        dfplayers[col] = dfplayers[col].astype('float32')

In [16]:
dfplayers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1679 entries, 0 to 1678
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nflId             1679 non-null   int32
 1   height            1679 non-null   object
 2   weight            1679 non-null   int32
 3   birthDate         1447 non-null   object
 4   collegeName       1455 non-null   object
 5   officialPosition  1679 non-null   object
 6   displayName       1679 non-null   object
dtypes: int32(2), object(5)
memory usage: 78.8+ KB

In [17]:
dfgames_pffscout_players = dfgames_pffscout.merge(dfplayers,on='nflId')
dfgames_pffscout_players.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,playId,nflId,pff_role,...,pff_sackAllowed,pff_nflIdBlockedPlayer,pff_blockType,pff_backFieldBlock,height,weight,birthDate,collegeName,officialPosition,displayName
0,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,NaN,NaN,NaN,NaN,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,410,25511,Pass,...,NaN,NaN,NaN,NaN,6-4,225,1977-08-03,Michigan,QB,Tom Brady
2,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,434,25511,Pass,...,NaN,NaN,NaN,NaN,6-4,225,1977-08-03,Michigan,QB,Tom Brady
3,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,456,25511,Pass,...,NaN,NaN,NaN,NaN,6-4,225,1977-08-03,Michigan,QB,Tom Brady
4,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,480,25511,Pass,...,NaN,NaN,NaN,NaN,6-4,225,1977-08-03,Michigan,QB,Tom Brady

In [18]:
dfgames_pffscout_players.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188254 entries, 0 to 188253
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   gameId                  188254 non-null  int32
 1   season                  188254 non-null  int32
 2   week                    188254 non-null  int32
 3   gameDate                188254 non-null  object
 4   gameTimeEastern         188254 non-null  object
 5   homeTeamAbbr            188254 non-null  object
 6   visitorTeamAbbr         188254 non-null  object
 7   playId                  188254 non-null  int32
 8   nflId                   188254 non-null  int32
 9   pff_role                188254 non-null  object
 10  pff_positionLinedUp     188254 non-null  object
 11  pff_hit                 94127 non-null   float32
 12  pff_hurry               94127 non-null   float32
 13  pff_sack                94127 non-null   float32
 14  pff_beatenByDefender    48087 non-null   float32
 15  pff_hitAllowed          48087 non-null   float32
 16  pff_hurryAllowed        48087 non-null   float32
 17  pff_sackAllowed         48087 non-null   float32
 18  pff_nflIdBlockedPlayer  46526 non-null   float32
 19  pff_blockType           47904 non-null   object
 20  pff_backFieldBlock      47903 non-null   float32
 21  height                  188254 non-null  object
 22  weight                  188254 non-null  int32
 23  birthDate               168719 non-null  object
 24  collegeName             169687 non-null  object
 25  officialPosition        188254 non-null  object
 26  displayName             188254 non-null  object
dtypes: float32(9), int32(6), object(12)
memory usage: 29.4+ MB

In [19]:
dfplays = pd.read_csv('plays.csv')
dfplays.head()

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,...,foulNFLId3,absoluteYardlineNumber,offenseFormation,personnelO,defendersInBox,personnelD,dropBackType,pff_playAction,pff_passCoverage,pff_passCoverageType
0,2021090900,97,(13:33) (Shotgun) T.Brady pass incomplete deep...,1,3,2,TB,DAL,TB,33,...,NaN,43.0,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man
1,2021090900,137,(13:18) (Shotgun) D.Prescott pass deep left to...,1,1,10,DAL,TB,DAL,2,...,NaN,108.0,EMPTY,"1 RB, 2 TE, 2 WR",6.0,"4 DL, 4 LB, 3 DB",TRADITIONAL,0,Cover-3,Zone
2,2021090900,187,(12:23) (Shotgun) D.Prescott pass short middle...,1,2,6,DAL,TB,DAL,34,...,NaN,76.0,SHOTGUN,"0 RB, 2 TE, 3 WR",6.0,"3 DL, 3 LB, 5 DB",TRADITIONAL,0,Cover-3,Zone
3,2021090900,282,(9:56) D.Prescott pass incomplete deep left to...,1,1,10,DAL,TB,TB,39,...,NaN,49.0,SINGLEBACK,"1 RB, 2 TE, 2 WR",6.0,"4 DL, 3 LB, 4 DB",TRADITIONAL,1,Cover-3,Zone
4,2021090900,349,(9:46) (Shotgun) D.Prescott pass incomplete sh...,1,3,15,DAL,TB,TB,44,...,NaN,54.0,SHOTGUN,"1 RB, 1 TE, 3 WR",7.0,"3 DL, 4 LB, 4 DB",TRADITIONAL,0,Cover-3,Zone

In [20]:
dfplays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8557 entries, 0 to 8556
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gameId                  8557 non-null   int64
 1   playId                  8557 non-null   int64
 2   playDescription         8557 non-null   object
 3   quarter                 8557 non-null   int64
 4   down                    8557 non-null   int64
 5   yardsToGo               8557 non-null   int64
 6   possessionTeam          8557 non-null   object
 7   defensiveTeam           8557 non-null   object
 8   yardlineSide            8432 non-null   object
 9   yardlineNumber          8557 non-null   int64
 10  gameClock               8557 non-null   object
 11  preSnapHomeScore        8557 non-null   int64
 12  preSnapVisitorScore     8557 non-null   int64
 13  passResult              8557 non-null   object
 14  penaltyYards            756 non-null    float64
 15  prePenaltyPlayResult    8557 non-null   int64
 16  playResult              8557 non-null   int64
 17  foulName1               736 non-null    object
 18  foulNFLId1              736 non-null    float64
 19  foulName2               30 non-null     object
 20  foulNFLId2              30 non-null     float64
 21  foulName3               1 non-null      object
 22  foulNFLId3              1 non-null      float64
 23  absoluteYardlineNumber  8556 non-null   float64
 24  offenseFormation        8550 non-null   object
 25  personnelO              8556 non-null   object
 26  defendersInBox          8550 non-null   float64
 27  personnelD              8556 non-null   object
 28  dropBackType            8029 non-null   object
 29  pff_playAction          8557 non-null   int64
 30  pff_passCoverage        8557 non-null   object
 31  pff_passCoverageType    8557 non-null   object
dtypes: float64(6), int64(11), object(15)
memory usage: 2.1+ MB

In [21]:
for col in dfplays.columns:
    if dfplays[col].dtype == 'int64':
        dfplays[col] = dfplays[col].astype('int32')
    if dfplays[col].dtype == 'float64':
        dfplays[col] = dfplays[col].astype('float32')
    gc.collect()

In [22]:
dfgames_pffscout_players_plays = dfgames_pffscout_players.merge(dfplays,on=['gameId','playId'])
dfgames_pffscout_players_plays.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,playId,nflId,pff_role,...,foulNFLId3,absoluteYardlineNumber,offenseFormation,personnelO,defendersInBox,personnelD,dropBackType,pff_playAction,pff_passCoverage,pff_passCoverageType
0,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,NaN,43.0,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man
1,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,35481,Pass Route,...,NaN,43.0,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man
2,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,35634,Pass Route,...,NaN,43.0,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man
3,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,39985,Pass Route,...,NaN,43.0,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man
4,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,40151,Pass Block,...,NaN,43.0,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man

In [23]:
dfweek = pd.read_feather('optimized_nfl_new.feather')
dfweek.head()

,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,y,s,a,dis,o,dir,event
0,2021090900,97,25511.0,1,2021-09-10T00:26:31.100,12.0,TB,right,37.770000,24.219999,0.29,0.30,0.03,165.160004,84.989998,None
1,2021090900,97,25511.0,2,2021-09-10T00:26:31.200,12.0,TB,right,37.779999,24.219999,0.23,0.11,0.02,164.330002,92.870003,None
2,2021090900,97,25511.0,3,2021-09-10T00:26:31.300,12.0,TB,right,37.779999,24.240000,0.16,0.10,0.01,160.240005,68.550003,None
3,2021090900,97,25511.0,4,2021-09-10T00:26:31.400,12.0,TB,right,37.730000,24.250000,0.15,0.24,0.06,152.130005,296.850006,None
4,2021090900,97,25511.0,5,2021-09-10T00:26:31.500,12.0,TB,right,37.689999,24.260000,0.25,0.18,0.04,148.330002,287.549988,None

In [24]:
dffinal = dfgames_pffscout_players_plays.merge(dfweek,on=['gameId','playId','nflId'])
dffinal.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,playId,nflId,pff_role,...,team,playDirection,x,y,s,a,dis,o,dir,event
0,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,TB,right,37.770000,24.219999,0.29,0.30,0.03,165.160004,84.989998,None
1,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,TB,right,37.779999,24.219999,0.23,0.11,0.02,164.330002,92.870003,None
2,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,TB,right,37.779999,24.240000,0.16,0.10,0.01,160.240005,68.550003,None
3,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,TB,right,37.730000,24.250000,0.15,0.24,0.06,152.130005,296.850006,None
4,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL,97,25511,Pass,...,TB,right,37.689999,24.260000,0.25,0.18,0.04,148.330002,287.549988,None

In [25]:
dffinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7952692 entries, 0 to 7952691
Data columns (total 70 columns):
 #   Column                  Dtype
---  ------                  -----
 0   gameId                  int32
 1   season                  int32
 2   week                    int32
 3   gameDate                object
 4   gameTimeEastern         object
 5   homeTeamAbbr            object
 6   visitorTeamAbbr         object
 7   playId                  int32
 8   nflId                   int32
 9   pff_role                object
 10  pff_positionLinedUp     object
 11  pff_hit                 float32
 12  pff_hurry               float32
 13  pff_sack                float32
 14  pff_beatenByDefender    float32
 15  pff_hitAllowed          float32
 16  pff_hurryAllowed        float32
 17  pff_sackAllowed         float32
 18  pff_nflIdBlockedPlayer  float32
 19  pff_blockType           object
 20  pff_backFieldBlock      float32
 21  height                  object
 22  weight                  int32
 23  birthDate               object
 24  collegeName             object
 25  officialPosition        object
 26  displayName             object
 27  playDescription         object
 28  quarter                 int32
 29  down                    int32
 30  yardsToGo               int32
 31  possessionTeam          object
 32  defensiveTeam           object
 33  yardlineSide            object
 34  yardlineNumber          int32
 35  gameClock               object
 36  preSnapHomeScore        int32
 37  preSnapVisitorScore     int32
 38  passResult              object
 39  penaltyYards            float32
 40  prePenaltyPlayResult    int32
 41  playResult              int32
 42  foulName1               object
 43  foulNFLId1              float32
 44  foulName2               object
 45  foulNFLId2              float32
 46  foulName3               object
 47  foulNFLId3              float32
 48  absoluteYardlineNumber  float32
 49  offenseFormation        object
 50  personnelO              object
 51  defendersInBox          float32
 52  personnelD              object
 53  dropBackType            object
 54  pff_playAction          int32
 55  pff_passCoverage        object
 56  pff_passCoverageType    object
 57  frameId                 int32
 58  time                    object
 59  jerseyNumber            float32
 60  team                    object
 61  playDirection           object
 62  x                       float32
 63  y                       float32
 64  s                       float32
 65  a                       float32
 66  dis                     float32
 67  o                       float32
 68  dir                     float32
 69  event                   object
dtypes: float32(23), int32(16), object(31)
memory usage: 3.1+ GB

In [26]:
dffinal.to_feather('optimized_nfl_newdata.feather')