In [1]:
import pandas as pd
import numpy as np
import gc
import glob
import os

In [2]:
all_files = glob.glob("week*.csv")
grouped_files = []

for filename in all_files:
    chunk = pd.read_csv(filename, index_col=None, header=0)
    chunk.dropna(inplace=True)
    for col in chunk.columns:
        if chunk[col].dtype == 'float64':
            chunk[col] = chunk[col].astype('float32')
        if chunk[col].dtype == 'int64':
            chunk[col] = chunk[col].astype('int32')
    gc.collect()
    grouped_files.append(chunk)

    df = pd.concat(grouped_files, axis=0, ignore_index=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7952692 entries, 0 to 7952691
Data columns (total 16 columns):
 #   Column         Dtype
---  ------         -----
 0   gameId         int32
 1   playId         int32
 2   nflId          float32
 3   frameId        int32
 4   time           object
 5   jerseyNumber   float32
 6   team           object
 7   playDirection  object
 8   x              float32
 9   y              float32
 10  s              float32
 11  a              float32
 12  dis            float32
 13  o              float32
 14  dir            float32
 15  event          object
dtypes: float32(9), int32(3), object(4)
memory usage: 606.7+ MB

In [4]:
df.to_feather("optimized_nfl_new.feather")

In [5]:
dfweek = pd.read_feather('optimized_nfl_new.feather')
dfweek.head()

,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,y,s,a,dis,o,dir,event
0,2021090900,97,25511.0,1,2021-09-10T00:26:31.100,12.0,TB,right,37.770000,24.219999,0.29,0.30,0.03,165.160004,84.989998,None
1,2021090900,97,25511.0,2,2021-09-10T00:26:31.200,12.0,TB,right,37.779999,24.219999,0.23,0.11,0.02,164.330002,92.870003,None
2,2021090900,97,25511.0,3,2021-09-10T00:26:31.300,12.0,TB,right,37.779999,24.240000,0.16,0.10,0.01,160.240005,68.550003,None
3,2021090900,97,25511.0,4,2021-09-10T00:26:31.400,12.0,TB,right,37.730000,24.250000,0.15,0.24,0.06,152.130005,296.850006,None
4,2021090900,97,25511.0,5,2021-09-10T00:26:31.500,12.0,TB,right,37.689999,24.260000,0.25,0.18,0.04,148.330002,287.549988,None

In [6]:
dfweek.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7952692 entries, 0 to 7952691
Data columns (total 16 columns):
 #   Column         Dtype
---  ------         -----
 0   gameId         int32
 1   playId         int32
 2   nflId          float32
 3   frameId        int32
 4   time           object
 5   jerseyNumber   float32
 6   team           object
 7   playDirection  object
 8   x              float32
 9   y              float32
 10  s              float32
 11  a              float32
 12  dis            float32
 13  o              float32
 14  dir            float32
 15  event          object
dtypes: float32(9), int32(3), object(4)
memory usage: 606.7+ MB